<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Mageplaza_Configuration::helloworld" title="Oder Status" module="Mageplaza_Configuration" sortOrder="51" resource="Mageplaza_Configuration::helloworld"/>
        
        <add id="Mageplaza_Configuration::Adminhtml_Account_All" 
        title="Track Order" module="Mageplaza_Configuration" 
        sortOrder="10" 
        action="mageplaza/account/all"
        resource="Mageplaza_Configuration::mageplaza_customer_order" 
        parent="Mageplaza_Configuration::helloworld"/> 
        

        <add id="Mageplaza_Configuration::return_order" 
        title="Return" module="Mageplaza_Configuration" 
        sortOrder="10" 
        action="mageplaza/account/returned"
        resource="Mageplaza_Configuration::mageplaza_customer_order" 
        parent="Mageplaza_Configuration::helloworld"/>
        
     

        
        
    </menu>
</config>
