<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="social_helloworld_display_text">
        <observer name="social_display_text" instance="Social\Helloworld\Observer\ChangeDisplayText" />
    </event>
    <event name="customer_login">
        <observer name="customer_login_observer" instance="Social\Helloworld\Observer\CustomerLogin" />
    </event>
    <event name="customer_logout">
        <observer name="customer_logout_observer" instance="Social\Helloworld\Observer\CustomerLogout" />
    </event>
    <event name="checkout_onepage_controller_success_action">
        <observer name="customer_order_observer_event_test" instance="Social\Helloworld\Observer\OrderDetails" />
    </event> 
    <event name="catalog_product_save_after">
        <observer name="customer_order_observer" instance="Social\Helloworld\Observer\ProductDetails" />
    </event> 
</config>