<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Mageplaza_CustomMenu::menu" title="Track Order" sortOrder="10" >
                    <resource id="Mageplaza_CustomMenu::create" title="Return" sortOrder="0" />
                    <resource id="Mageplaza_CustomMenu::menu_configuration" title="Settings" sortOrder="100" />
                </resource>
            </resource>
        </resources>
    </acl>
</config>